body {
    margin: 0;
    padding: 0;
}

#map {
    height: calc(85vh - 50px); 
    width: 66%; 
    margin: 25px auto;
    margin-left: 25px; 
    border: 5px solid #4b2e83; 
    box-sizing: border-box; 
}

header {
    font-family: 'Trebuchet MS', sans-serif;
    font-style: oblique;
    color: #ffffff;
    text-align: center;
    background-color: #4b2e83; 
    padding: 20px; 
    margin-top: 0;
    margin-bottom: 50px; 
    position: relative; 
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button {
    background-color: white;
    color: #4b2e83; 
    padding: 10px 20px; 
    border: none;
    margin: 0px 10px;
    border-radius: 5px; 
    transform: skew(-20deg); 
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    transition: transform 0.3s ease;
}
.button:hover {
    transform: skew(-20deg) scale(1.1); /* Scale up on hover */
}
.button:active {
    transform: skew(-20deg) scale(0.9); 
}

body {
    background-color: #ffffff;
    color: #4b2e83;
}